<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Position</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<form action="/" method="POST" id="edit-pos-form">
    <h1>Add new</h1>

    Position Title: <input type="text" name="title" id="title">
    <br>

    Description: <textarea name="description" id="description" ></textarea>
    <br>

    Salary: <input type="text" name="salary" id="salary">
    <br>

    Available? <input type="checkbox" name="available" value="1" id="available">
    <br>
    <input type="submit" value="Save">
</form>
<script src="src/edit-pos-script.js"></script>
</body>
</html>