<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Position</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<form action="/" method="POST" id="edit-ans-form">
    <p align="right" id="head"></p>
    <h1>Add new</h1>

    Answer Text: <input type="text" name="text" id="text">
    <br>

    Correct? <input type="checkbox" name="correct" value="1" id="correct">
    <br>
    <input type="submit" value="Save">
</form>
<script src="src/edit-answer-script.js"></script>
</body>
</html>