<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Question</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit Position</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
</head>
<body>
<form action="/" method="POST" id="edit-question-form">
    <p align="right" id="head"></p>
    <h1>Edit Question</h1>

    Question : <input type="text" name="text" id="text">

    <br>
    <input type="submit" value="Save">
</form>
<script src="src/edit-question-script.js"></script>
</body>
</html>
</body>
</html>