<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <link rel="stylesheet" type="text/css" href= "./stylesheet/hrstyle.css">
    <title>Home Page</title>
</head>
<body>
    <button onclick="window.location.href='/'" id="logout">logout</button>
<div class="container">
    <button onclick="window.location.href='/get-positions'" class="btn submit-button">View Positions</button>
    <button onclick="window.location.href='/registerees-page'" class="btn submit-button">View Registerees</button>
<!--TODO APPLICATANTS PAGE-->
    <button onclick="window.location.href='/applicants-page'" class="btn submit-button">View Applicants</button>
<!--TODO EXAMINEES PAGE-->
    <button onclick="window.location.href='/'" class="btn submit-button">View Examinees</button>
<!--TODO TESTS PAGE-->
    <button onclick="window.location.href='/tests'" class="btn submit-button">View Tests</button>
</div>
<script src="src/hr-home.js"></script>
</body>
</html>
