<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/">
</head>
<body>
    <div align="center" class="form">
        <form action="/" method="POST">
            <input type="text" placeholder="Enter your E-mail" name="hremail" required>
            <br>
            <input type="password" placeholder="Enter your password" name="hrpassword" required>
            <br>
            <button type="submit">Login</button>
        </form>
    </div>
</body>
<script src="/"></script>
</html>