<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test Details</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
    <h1 id = "heading" > </h1>
</head>
<body>
<p align="right" id="head"></p>
<a href="/hr-index">
    <button>Home</button>
</a>
<button id="addQ">Add Question</button>
<input type="text" placeholder="Search.." id="search">
<script src="src/test-details-script.js"></script>

</body>
</html>
